html, body {
    display: flex;
    justify-content: center;
    background-color: #ADBBDA;
    font-size: 20px;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    outline: 4px solid rgb(19, 18, 18);
    background-color: #244855;
    width: 500px;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.display {
    align-self: center;
    outline: 2px solid rgb(19, 18, 18);
    background-color: #86C932;
    text-align: right;
    font-size: 40px;
    width: 90%;
    border-radius: 1px;
    padding: 3px 6px;
    margin-top: 10px;
}

.clear {
    font-size: 16px;
    background-color: brown;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    padding: 3px;
    width: 60%;
    margin-top: 12px;
}

.backspace {
    background-color: brown;
    font-size: 15px;
    margin-right: 10px;
}

.buttons {
    display: flex;
    width: 90%;
    align-self: center;
    margin-top: 20px;
}

.digits, .symbols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

button {
    border-radius: 6px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    outline: 1px solid black;
}

.digits > button {
    background-color: #376E6F;   
    width: 25%;
    aspect-ratio: 1/1;
    margin: 5px;
}

.symbols_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.symbols > button {
    background-color: #464866; 
    aspect-ratio: 1/1;
    width: 30%;
    margin: 10px;
}

.symbols > .equal {
    background-color: #61892F;
}

.symbols > .multiply {
    font-size: 20px;
}




