html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADBBDA;
    font-size: 20px;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 4px solid rgb(19, 18, 18);
    background-color: #244855;
    width: 500px;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.display {
    outline: 2px solid rgb(19, 18, 18);
    background-color: #86C932;
    text-align: right;
    font-size: 30px;
    width: 90%;
    border-radius: 1px;
    padding: 3px 9px;
    margin-top: 10px;
}

.clr_wrapper {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.clear {
    font-size: 16px;
    background-color: brown;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    padding: 3px;
    width: 50%;
    margin-top: 12px;
}

.backspace {
    width: 20%;
    background-color: brown;
    aspect-ratio: 1/1;
    margin-top: 12px;
    font-size: 16px;
}

.btns_wrapper {
    display: flex;
    width: 90%;
    margin-top: 20px;
}

.num_wrapper, .sym_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

button {
    border-radius: 6px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    outline: 1px solid black;
}

.num_wrapper > * {
    background-color: #376E6F;   
    width: 25%;
    aspect-ratio: 1/1;
    margin: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sym_wrapper > * {
    background-color: #464866; 
    aspect-ratio: 1/1;
    width: 30%;
    margin: 10px;
}

.equal {
    background-color: #61892F;
}

.multiply {
    font-size: 20px;
}